@model IEnumerable<NotOtomasyonu.NotDb>
@{
    ViewBag.Title = "OgrenciNotlariniGoruntule";
}
<link href="~/Content/OgrenciNotlariniGoruntule.css" rel="stylesheet" type="text/css" />
@{ 
    <div class="tabloDiv">
        <table class="table table-striped">
            @Html.AntiForgeryToken()
            <tr>
                <th>ÖğrenciNo</th>
                <th>ÖğrenciAdı</th>
                <th>ÖğrenciSoyadı</th>
                <th>DersNo</th>
                <th>Sınav1</th>
                <th>Sınav2</th>
                <th>Sınav3</th>
                <th>Sözlü1</th>
                <th>Sözlü2</th>
                <th>Sözlü3</th>
                <th>NotOrt.</th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3">Ders Yok</td>
                </tr>
            }
            else
            {
                foreach (NotDb aNot in Model)
                {
                    var notOrt= 0.6 / 3 * (aNot.Sinav1 + aNot.Sinav2 + aNot.Sinav3) + 0.4 / 3 * (aNot.Sozlu1 + aNot.Sozlu2 + aNot.Sozlu3);

                <tr>
                    <th>@Html.ActionLink(aNot.OgrenciNo, "OgrenciNotlariniGuncelle", new { notId = aNot.NotId, dersId = aNot.DersId }, new { @class = "btn btn-custom4 btn-sm" })</th>
                    <th>@aNot.OgrenciDb.Ad</th>
                    <th>@aNot.OgrenciDb.Soyad</th>
                    <th>@aNot.DersId</th>
                    <th>@aNot.Sinav1</th>
                    <th>@aNot.Sinav2</th>
                    <th>@aNot.Sinav3</th>
                    <th>@aNot.Sozlu1</th>
                    <th>@aNot.Sozlu2</th>
                    <th>@aNot.Sozlu3</th>
                    <th>
                        @notOrt
                    </th>
                </tr> 
                }
            }
        </table>
    </div>
}
